// Common Components

// Ant Layout
.ant-layout {
    background-color:$white;
}
// Container
.antContainer {
    width:100%;
    max-width:1400px;
    margin:0 auto;
    padding:0 25px;
}
// Section
.section {
    padding: 60px 0;
}